*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

}
body{
  display:grid;
  place-items: center;
  height:100vh;
  background: linear-gradient(180deg, #9E00FF 0%, rgba(158, 0, 255, 0.88) 41.67%, rgba(158, 0, 255, 0.44) 100%);
}
#container{
  height: 570px;
  width: 330px;
  border-radius: 35px;
  border:5px solid rgba(35, 2, 57, 1);
  background: linear-gradient(180deg, #9921E8 0%, rgba(28, 9, 40, 0) 99.99%, rgba(26, 9, 37, 0) 100%);
  border: 5px solid #230239;
  position: relative;
  box-shadow: 2px 2px 5px #00000040, -2px -2px 5px #00000040;

}
#container #line{
  height: 15px;
  width: 100px;
  border-radius: 10px;
  margin: 25px 115px;
  background: #230239;
}
#container #displayScreen{
  height: 140px;
  width: 290px;
  position: absolute;
  top: 70px;
  left: 15px;
}
#container #displayScreen #resultado #userInput{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 40px;
  padding: 0px 100px;
  color: #f5f2f7;
  overflow: hidden;
}
#container #displayScreen #resultado{
  height: 70px;
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
}
#container #displayScreen #userInput{
  font-size: 30px;
  margin: 10px 0px;
}

#number{
  height: auto;
  width: 200px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 8px;
  position: absolute;
  bottom: 30px;
  left: 15px;
  
}
 #number .numeroTeclas{
  background: rgba(158, 0, 255, 0.44);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #f5f2f7;
  font-size: 22px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#number .numeroTeclas:hover{
  transform: scale(0.90);
  background:#00000060;
}
#operadores{
  width: 130px;
  height: auto;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 10px;

  position: absolute;
  bottom: 30px;
  right: 0;
}
#operadores .simboloOperadores{
  background: linear-gradient(180deg, rgba(236, 159, 5, 0.92) 0%, rgba(237, 154, 5, 0.8625) 0.01%, rgba(245, 120, 3, 0.69) 52.6%, rgba(250, 100, 1, 0.552) 75%, rgba(255, 78, 0, 0.368) 95.83%);
  font-size: 23px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: #f5f2f7;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#operadores .simboloOperadores:hover{
  background: linear-gradient(#FF4E00,#EC9F05);
}

#operadores #adicao{
  display: grid;
  height: 170px;
  grid-row: 1 / 4;
  grid-column: 1 / 2;

  border-radius: 30px;
}
#operadores #igual{
  display: grid;
  width: 110px;
  border-radius: 30px;
}
#colchetes{
   height: 60px;
  width: 320px;
  position: absolute;
  top: 240px;
  left: 14px;
  display: flex;
  flex-direction:row ;
}
#colchetesAberto,#colchetesFechado{
  height: 50px;
  width: 130px;
  background: rgba(35, 2, 57, 0.72);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 0px 10px;
  display: grid;
  place-items: center;
  font-size: 23px;
  color: #f5f2f7;
  cursor: pointer;
}
#colchetesAberto:hover,#colchetesFechado:hover{
  background: #00000080;
}